html {
  overflow-y: hidden;
  overflow-x: overlay;
  height: 100vh;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: overlay;
  height: 100vh;
}

#app {
  height: 100vh;
}

/* 修改主内容中的样式 */
.container {
  margin: 0;
  /* min-height: 100vh; */
  height: 100%;
}

/* // 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* // 滚动条头 */
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(0, 21, 41, 0.097);
}

/* // 滚动条轨道 */
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(181, 164, 164, 0);
}

/* 单个禁用太多了，考虑到基本都是不需要选中 */
body {
  -webkit-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -ms-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
}

.div-no-select {
  -webkit-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -ms-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
}


.common-padding {
  padding: 10px 30px 0px 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .common-padding {
    padding: 10px 10px 0px 10px;
  }
}

.common-line-style {
  /* margin: 0px 15px 0 15px; */
  border-top: 1px solid #dadada;
}

.common-item-active {
  color: var(--primary-color);
  background-color: var(--primary-opacity-color);
  border-radius: 15px;
}

/**
 * ====================全局样式相关设置===================
 */
.el-menu {
  background-color: transparent;
}

.el-table {
  background-color: #ffffff81;
}

.el-table tr {
  background-color: transparent;
}

.el-table__row {
  background-color: transparent;
}

:deep(.el-table__row--striped) {
  background-color: transparent;
}

/* 全局主题 */
:root {
  /* 主题主要颜色 */
  --primary-color: #ec4141;
  --primary-opacity-color: rgb(236 65 65 / 8%);
  --primary-text-color: #ec4141;
  /* 主题背景色深 */
  --primary-background-color: #e33e3e;
  /* 主要背景颜色 */
  --left-background-color: #fff;
  --right-background-color: #fff;
  --footer-background-color: #fff;
  /* --primary-hover-color: hsl(0, 75%, 57%);
  --primary-active-color: #e33e3e;
  --primary-shadow-color: #e33e3e; */
}

.el-button {
  color: #fff;
  background-color: var(--primary-color);
}

.el-button:hover {
  color: #fff;
  background-color: var(--primary-background-color);
}

.el-button:focus {
  color: #fff;
  background-color: var(--primary-color);
}

.el-tabs__active-bar {
  background-color: var(--primary-color);
}

body {
  background-color: #ffffff;
  background-size: cover;
  object-fit: cover;
  background-image: url('https://img.zcool.cn/community/0121bd578059b60000018c1b20c4c0.jpg@2o.jpg');


}

.container-header {
  background-color: var(--primary-color);
}

.container-left {
  background-color: var(--left-background-color);
}

.container-right {
  background-color: var(--right-background-color);
}

.container-footer {
  background-color: var(--footer-background-color);
}

/* 
.container-left::before {
  content: "";
  width: calc(100% + 40px);
  height: calc(100% + 100px);
  display: block;
  position: absolute;
  left: -20px;
  top: -10px;
  background: inherit;
  box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.25);
  filter: blur(6px);
  overflow: hidden;
  border-radius: 14px;
  z-index: -1;
} */